@model AspNetUserManagement.Models.LoginModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<ul class="nav nav-pills nav-justified mb-3">
    <li class="nav-item">
        <a class="nav-link active"
           href="/Auth/Login"
           aria-selected="true">로그인</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           href="/Auth/Register"
           aria-selected="false">회원가입</a>
    </li>
</ul>

@using (Html.BeginForm())
{
    <div class="mb-4">
        <div class="form-outline">
            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @id = "loginId" } })
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "form-label", @for = "loginId" })
        </div>
        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
    </div>

    <div class="mb-4">
        <div class="form-outline">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "password", @class = "form-control", @id = "loginPassword" } })
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label", @for = "loginPassword" })
        </div>
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">로그인</button>
}

<script>
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).init();
    });
</script>
